@charset "UTF-8";

@font-face {
    font-family: 'mario-fonte';
    src: url(../retro_mario/RetroMario-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'mario-fonte';
    margin-left: 5px;
    color: rgb(243, 243, 65);
    font-weight: lighter;
}

.game-board{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.grass{
    height: 20vh;
    background: green url(../images/grass.png) center top;
    background-size: cover;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 55px;
    right: -80px;
    animation: pipe-animation 1.7s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {

    0%{
        bottom: 0;
    }

    40%{
        bottom: 190px;
    }

    50%{
        bottom: 190px;
    }

    60%{
        bottom: 190px;
    }

    65%{
        bottom: 190px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}